<div class="container-fluid">
    <!-- Cabeçalho -->
    <header class="bg-primary text-white text-center py-5">
      <h1 class="display-4">Bem-vindo ao PCR.POINT</h1>
      <p class="lead">O ponto de cadastro e registro é o software perfeito desenvolvido para controle de rotina de colaboradores registrados em sua empresa!</p>
    </header>
  
    <!-- Conteúdo Principal -->
    <main class="my-5">
      <div class="row justify-content-center">
        <!-- Primeiro Card -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow border-light">
            <div class="card-body">
              <h5 class="card-title">Conheça o sistema</h5>
              <p class="card-text">Um sistema trabalhado para controlar entradas e saídas de horários de seus colaboradores.
                Nossa visão é transmitir o máximo de clareza e acompanhamento sobre as movimentações de expedientes!</p>
              <div class="text-center">
                <button class="btn btn-primary" routerLink="/dashboard">
                  <h6>ACESSAR</h6>
                </button>
              </div>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Acesso para o sistema.</small>
            </div>
          </div>
        </div>
  
        <!-- Segundo Card -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow border-light">
            <div class="card-body">
              <h5 class="card-title">Iniciar registro</h5>
              <p class="card-text">Ao clicar no botão abaixo, você será redirecionado para a tela de registro de horários de colaboradores dentro do sistema!</p>
              <div class="text-center">
              
                <button class="btn btn-success" routerLink="/registrarPonto">
                  <h6>INICIAR REGISTRO</h6>
                </button>
              
              </div>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Acesso para registro de ponto.</small>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    <!-- Rodapé -->
    <footer class="bg-dark text-white text-center py-3">
      <p>© 2024 Sistema de Gestão de Funcionários. Todos os direitos reservados.</p>
      <p><a href="https://my-portifolio-go56.onrender.com/">PORTFOLIO: https://my-portifolio-go56.onrender.com/</a></p>
    </footer>
  </div>