body{
    background-image: url("../../assets/images/background/pngtree-close-up-of-a-clock-showing-the-time-picture-image_3393653.png");
    background-repeat: no-repeat;
    background-size: cover;
}