 <!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div class="row">
    <!-- Card column -->
    <div class="col-12">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Imprimir relatório</mat-card-title>
                <mat-card-subtitle>Registro de entrada e saída de funcionarios</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Primeira Janela -->
    <div class="col-md-4">
        <mat-card>
            <mat-card-content>

                <div class="row" style="text-align: center;">
                    <div class="alert alert-success" *ngIf="messageSuccessConsultaMesEano">{{messageSuccessConsultaMesEano.message}}</div>
                    <div class="alert alert-danger" *ngIf="messageErrorConsultaMesEano">{{messageErrorConsultaMesEano.message}}</div>
                    </div>

                <mat-card-title>Extrato de todos os funcionários</mat-card-title>
                <mat-card-subtitle>Acompanhamento mensal:</mat-card-subtitle>

                <form #formMesEano="ngForm" (ngSubmit)="buscarMesEano(formMesEano)"> 
                <div class="row"> 
                    <label>Mês:</label>
                   
                    <div class="col-md-8"> 
                    <select class="form-control" name="selectMes" required ngModel>
                        <option value="" disabled="">MES</option>
                        <option value="1">JANEIRO</option>
                        <option value="2">FEVEREIRO</option>
                        <option value="3">MARÇO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAIO</option>
                        <option value="6">JUNHO</option>
                        <option value="7">JULHO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SETEMBRO</option>
                        <option value="10">OUTUBRO</option>
                        <option value="11">NOVEMBRO</option>
                        <option value="12">DEZEMBRO</option>
                    </select>
                </div>
                <div class="col-md-4 mb-2">
                    <select class="form-control" name="selectAno" required="" ngModel >
                        <option value="" disabled="">ANO</option>
                        <option value="2020">2020</option>
                        <option value="2021">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                </div>
            </div>           
                <!-- Separando o botão em uma nova linha -->
                <div class="row mt-3">
                    <button mat-raised-button color="primary" type="submit" [disabled]="formMesEano.invalid">Enviar</button>
                </div>
            </form>

            </mat-card-content>
        </mat-card>
    </div>




    <!-- Segunda Janela -->
    <div class="col-md-8">
        <mat-card>
            <mat-card-content>
                <div class="row" style="text-align: center;">
                <div class="alert alert-success" *ngIf="messageSuccesBuscarPorColaborador">{{messageSuccesBuscarPorColaborador.message}}</div>
                <div class="alert alert-danger" *ngIf="messageErrorBuscarPorColaborador">{{messageErrorBuscarPorColaborador.message}}</div>
                </div>
                <mat-card-title>Extrato personalizado por funcionário:</mat-card-title>
                <mat-card-subtitle>Acompanhamento mensal:</mat-card-subtitle>

                <form #formPorColaborador="ngForm" (ngSubmit)="buscarPorColaborador(formPorColaborador)">
                <div class="row">
           <!-- Select de Mês --> 
                     <div class="col-md-4 mb-4">
                       <label>Mês:</label>
                        <select class="form-control" name="selectMes" ngModel required="" >
                            <option value="" disabled="">MES</option>
                            <option value="1">JANEIRO</option>
                            <option value="2">FEVEREIRO</option>
                            <option value="3">MARÇO</option>
                            <option value="4">ABRIL</option>
                            <option value="5">MAIO</option>
                            <option value="6">JUNHO</option>
                            <option value="7">JULHO</option>
                            <option value="8">AGOSTO</option>
                            <option value="9">SETEMBRO</option>
                            <option value="10">OUTUBRO</option>
                            <option value="11">NOVEMBRO</option>
                            <option value="12">DEZEMBRO</option>
                        </select>
                     </div>

                    <!-- Select de Funcionário -->
                    <div class="col-md-4 mb-4">
                        <label>Funcionário:</label>
                        <select class="form-control" name="selectColaborador" required="" ngModel>
                            <option value="" disabled="">FUNCIONARIO</option>
                            <option *ngFor="let item of listagemColaboradores" value="{{item.nome}}">{{item.nome}}</option>
                        </select>
                    </div>
            
                
                     <!-- Select de Ano -->
                     <div class="col-md-4 mb-4">
                        <label>Ano:</label>
                        
                        <select class="form-control" name="selectAno" required="" ngModel>
                            <option value="" disabled="">ANO</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select>
                    </div>

                    <!-- Botão separado -->
                    <div class="row">
                        <button mat-raised-button color="primary" [disabled]="formPorColaborador.invalid">Enviar</button>
                    </div>
                   </div>
                </form>
            
            </mat-card-content>
        </mat-card>
    </div>
</div>