<mat-card class="card-wrapper">
	<mat-card-content>    
	  <mat-card-title>Novo colaborador</mat-card-title>
	  <mat-card-subtitle>Preencha os campos abaixo para realizar um novo cadastro:</mat-card-subtitle>
  
	  <div class="container-fluid">
		
		<form>
		  <div class="row justify-content-center">
			<div class="col-md-5 mb-4">
			  <label for="nome">Nome:</label>
			  <input id="nome" type="text" class="form-control">
			</div>
  
			<div class="col-md-5 mb-4">
			  <label for="dataNascimento">Data de nascimento:</label>
			  <input id="dataNascimento" type="date" class="form-control">
			</div>
		  </div>

		  
  
		  <div class="row justify-content-center">
			<div class="col-md-5 mb-4">
			  <label for="email">Email:</label>
			  <input id="email" type="email" class="form-control">
			</div>
  
			<div class="col-md-5 mb-4">
			  <label for="contato">Contato:</label>
			  <input id="contato" type="tel" class="form-control">
			</div>
		  </div>


  
		  <div class="row justify-content-center">
			<div class="col-md-5 mb-4">
			  <label for="funcao">Função:</label>
			  <input id="funcao" type="text" class="form-control">
			</div>
  
			<div class="col-md-5 mb-4">
			  <label for="JornadaTrabalho">Jornada de trabalho:</label>
			 <select class="form-control">
				<option value=""></option>
				<option value="">SEGUNDA - FEIRA / SEXTA - FEIRA | 08H00 - 18H00 + 2 HORAS RECESSO</option>
			 </select>
			</div>
		  </div>
		</form>
	  </div>

	  <div class="row justify-content-center mt-4" style="gap: 10px;">
		<!-- Botões de envio e cancelamento fora do mat-card -->
		<button mat-raised-button color="primary" class="col-md-5">Salvar</button>
	  </div>
	</mat-card-content>
  </mat-card>
  
 