   
<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Listar colaboradores</mat-card-title>
				<mat-card-subtitle>Todos os colaboradores serão inclusos na tabela a baixo:</mat-card-subtitle>
			 <div class="row">
				<div class="col-md-12">
				 
					<table class="table table-condensed table-hover">

						<thead>
							<tr>
								<th>Funcionario</th>
								<th>Função</th>
								<th>DT. Aniversario</th>
								<th>DT. Registro</th>
								<th>Sexo</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>MATHEUS PEREIRA MACHADO VIANA</td>
								<td>PROGRAMADOR JUNIOR</td>
								<td>02/09/1996</td>
								<td>11/10/2024</td>
								<td>MASCULINO</td>
								<td>
									<button class="btn btn-success" title="Imprimir documento">
										<i class="bi bi-pencil"></i>
									</button>
							</td>
							</tr>
						</tbody>


					</table>


				</div>
			 </div>
			</mat-card-content>
		</mat-card>
	</div>
</div> 

<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Itinerarios</mat-card-title>
				<mat-card-subtitle>Horario de expediente e recesso de SEGUNDA a SEXTA: </mat-card-subtitle>
			 <div class="row">
				<div class="col-md-12">
				 
					<table class="table table-condensed table-hover">

						<thead>
							<tr>
								 
								<th>Inicio jornada</th>
								<th>Inicio recesso</th>
								<th>Fim recesso</th>
								<th>Fim jornada</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								 
								<td>08H00:00</td>
								<td>12H00:00</td>
								<td>14H00:00</td>
								<td>18H00:00</td>
								 
								<td style="gap: 20;">
									<button class="btn btn-success" title="Imprimir documento">
										<i class="bi bi-pencil"></i>
									</button>

									<button class="btn btn-danger" title="Imprimir documento">
										<i class="bi bi-trash"></i>
									</button>
							</td>
							</tr>
						</tbody>


					</table>


				</div>
			 </div>
			</mat-card-content>
		</mat-card>
	</div>
</div> 