<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div>
    <div>
        <mat-card>
            <mat-card-content>
              <mat-card-title>Registro de horários</mat-card-title>
                <mat-card-subtitle>Os horários inseridos serão utilizados para registros futuros de novos funcionarios</mat-card-subtitle>
             
            </mat-card-content>        
        </mat-card>
    </div>
</div>     

<div >
    <div >
        <mat-card>
            <mat-card-content>
              <mat-card-title>Registro de horários</mat-card-title>
               
                <div class="container-fluid" style="flex-direction: row;">

                    <div class="row justify-content-center">
                        <div class="alert alert-success col-md-6" *ngIf="messageSucces">
                            <ul>
                                <li style="text-align: center; list-style: none;">{{messageSucces.message}}</li>
                            </ul>
                        </div>
                    </div>
                     
                        <div class="row justify-content-center">

                            <div class="alert alert-danger col-md-6" *ngIf="messageError">
                                <ul>
                                    <li *ngFor="let error of messageError" style="text-align: center; list-style: none;">{{ error }}</li>
                                </ul>
                            </div> 
                        </div>

                       

                    <form #cadastroForm="ngForm" (ngSubmit)="adicionarRotina(cadastroForm)">
                        <div class="row">
                           <div class="col-md-6 mb-4">
                                <label>Inicio da jornada de trabalho:</label>
                                <input type="time" class="form-control" name="inicioTrabalho" ngModel required>
                            
                                <label>Inicio de almoço:</label>
                                <input type="time" class="form-control" name="inicioAlmoco" ngModel required>
                            </div>

                               <div class="col-md-6 mb-4">

                                <label>Fim da jornada de trabalho:</label>
                                <input type="time" class="form-control" name="fimTrabalho" ngModel required>
                            
                                <label>fim de almoço:</label>  
                                <input type="time" class="form-control" name="fimAlmoco" ngModel required>
                                
                               </div>

                            </div> 
                            <div class="row justify-content-center">
                                <button type="submit" mat-raised-button color="primary" class="col-md-6">Salvar</button>
                            </div>
                        </form>

                     
                </div>

            </mat-card-content>        
        </mat-card>
    </div>
</div>     